<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-text color="tertiary">
        <h3>TOMAR FOTO</h3>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tome una foto </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input type="file" (change)="handleImageUpload($event)" label="Default input"></ion-input> 
    <ion-card-content>
      <p>{{file}} </p>
    </ion-card-content>
  </ion-item>

  <ion-fab-button (click)=" capturaImagen($event)">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-fab-button>



  <ion-card *ngIf="photo">
    <ion-card-content>
      <img [src]="photo" />
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="photo">
    <ion-card-content>
      <p>{{data|json}} </p>
    </ion-card-content>

  </ion-card>
  <ion-content>
    <div class="ion-padding">
      <div class="ion-text-center ion-margin-bottom">
        <ion-button (click)="enviarfoto()" expand="block">siguiente</ion-button>
      </div>
    </div>
  </ion-content>

  <ion-toast [isOpen]="isToastOpen" [message]="message" [duration]="5000"></ion-toast>



</ion-content>