<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="ion-text-center">
    <h1 class="textColor">FORMA</h1>
  </div>
  <ion-card>
    <ion-card-content>
      <p>En esta sección puede asociar una de las imágenes con la forma que más se asemeje a su lengua.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Rectangular</ion-card-title>
          <img src=".\assets\rectangular.jpeg" alt="Image" width="100" height="110"  />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Circular</ion-card-title>
          <img src=".\assets\circular.jpeg" alt="Image" width="100" height="110" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Elipse</ion-card-title>
          <img src=".\assets\elipse.jpeg" alt="Image" width="100" height="110" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Triangular</ion-card-title>
          <img src=".\assets\triangualar.jpeg" alt="Image" width="100" height="110"  />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Forma de martillo</ion-card-title>
          <img src=".\assets\martillo.jpg" alt="Image" width="100" height="110"  />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-title><span style="color: violet; padding: 10px 0px;">Nota:</span></ion-card-title>
    <p style="font-size: 14px;">
      La forma de su lengua no tiene relevancia en su estado de salud debido a que no se relaciona con efermedades. El tipo de lengua está relacionado meramente a factores genéticos.
    </p>
  </ion-card>

</ion-content>

