<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RESULTADO</ion-title>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/tabs/tab4']" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">resultado</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/final']" expand="block">Finalizar</ion-button>
</ion-content>

