<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      CARACTERÍSTICAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-title>TEXTURA</ion-card-title>
    <img [src]="data.textura" alt="Image"  />
  </ion-card>
  <ion-card>
    <ion-card-content>
    <ion-item>Crenated: Lengua con bordes de dientes marcados.</ion-item>
    <ion-item>Fisured: Lengua con grietas visibles.</ion-item>
    <ion-item>Normal:Cuerpo de la lengua con textura normal.</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>
