<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      CARACTERÍSTICAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-title class="textColor">TEXTURA</ion-card-title>
    <img [src]="data.textura" alt="Image"  />
  </ion-card>
  <ion-card>
    <ion-card-content>
    <p><span style="color: violet;">Crenated (bordes con dientes marcados):</span> Se observa cuando la lengua es demasiado grande u obesa.</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p><span style="color: violet;">Fisured (Grietas visibles):</span>  Suele presentarse por falta de nutrientes a la lengua.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    <p><span style="color: violet;">Normal:</span>Cuerpo de la lengua con textura normal.</p>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>
