<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="tertiary">LenguApp</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-title   class="textColor ion-text-center" size="large">LENGUAPP</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card-content class="ion-text-center">
    ¡Bienvenido/a a LenguApp, la aplicación informativa desarrollada por estudiantes de Biomedicina! Estamos encantados de presentarte esta innovadora herramienta basada en sistemas tecnológicos para el diagnóstico automático de la Lengua (ATD).

    <br><br>

    Con LengApp, podrás capturar fácilmente una foto de tu lengua utilizando la cámara del celular. Una vez que hayas tomado la imagen, nuestra aplicación realizará un procesamiento para extraer las características relevantes.

    <br><br>

    Nuestra App es una herramienta útil tanto para profesionales de la salud como para usuarios en general. Es de gran utilidad para monitorear su salud bucal de manera regular, detectando posibles signos de preocupación y así poder tomar medidas preventivas.
  </ion-card-content>

  <div>
    <div  class="ion-text-center converButton" color="tertiary">CONTÁCTANOS</div >
  </div>


  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="auto" class="ion-text-center">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <a href="mailto:nbutamanteg@est.ups.edu.ec">nbutamanteg@est.ups.edu.ec</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="auto" class="ion-text-center">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-col>
        <ion-col >
          <a href="mailto:pperaltaf@est.ups.edu.ec">pperaltaf@est.ups.edu.ec</a></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-button class="colorB" [routerLink]="['']" expand="block">REGRESAR</ion-button>
</ion-content>
