<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon [routerLink]="[ '/foto' ]" name="arrow-back-outline"></ion-icon>
    <ion-title>Imágenes procesadas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="textColor ion-text-center" size="large">Imágenes Procesadas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-card>
      <ion-card-content>
        Haga clic en una imagen para ver sus resultados
      </ion-card-content>
    </ion-card>
  </div>
  <ng-container *ngIf="data">
    <div class="card-container">
      <div *ngFor="let item of data" class="card">
        <div style="display: flex; justify-content: space-between;align-items: center;">
          <div style="padding: 5px 10px;">
            <a [routerLink]="[ '/tabs/tab1',item.id ]">
              <img [src]="item.image" alt="Image" style="max-width: 180px;">
            </a>
          </div>
          <div style="padding: 5px 10px; flex: 1;">
            <div class="borderDiv" style="display: flex; flex-direction: column;">
              <ion-text class="textName textColor">Fecha:<span style="margin-left: 10px;">{{convertirFecha(item.created_at)}}</span></ion-text>
              <ion-text class="textName textColor">Hora:<span style="margin-left: 10px;">{{obtenerHora(item.created_at)}}</span></ion-text>
            </div>
          </div>

        </div>



      </div>
    </div>
  </ng-container>


</ion-content>

  <!-- <ng-container *ngIf="data">
  <div class="card-container">
    <div class="card" *ngFor="let image of data.images">
      <img [src]="image.url" alt="Image" class="card-image">
      <div class="card-details">
        <h4>{{ image.name }}</h4>
        <p>{{ image.description }}</p>
      </div>
    </div>
  </div>
</ng-container> -->



