<ion-header [translucent]="true">
  <ion-title><img src=".\assets\U.png" /></ion-title>

  <ion-toolbar>
    <ion-title class="ion-text-center">¡Conoce tu Lengua!</ion-title>
    <ion-title class="ion-text-center">Basado en </ion-title>
    <ion-title class="ion-text-center">Automatic Tongue Diagnosis</ion-title>
  </ion-toolbar>

  <img src=".\assets\icon\LOGOAPP.png" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button  [routerLink]="[ '/home' ]" expand="block">¡Vamos!</ion-button>
</ion-content>
