<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <img src=".\assets\U.png" />
  </ion-toolbar>
</ion-header>
<div style=" height: 100%; display: flex;  flex-direction: colum; justify-content:center;">

  <ion-content >
    <div style="text-align: center;padding-top: 10px;">
      <ion-text>¡Conoce tu Lengua!</ion-text>
    </div>
    <div style="text-align: center;padding:30px 0px;">
      <ion-text>Basado en</ion-text>
    </div>
    <div style="text-align: center;padding-bottom: 10px;">
      <ion-text>Automatic Tongue Diagnosis</ion-text>
    </div>


    <div style="text-align: center;">
      <img src="assets\logo.png" />
    </div>


    <ion-button class="colorB" [routerLink]="['/introduccion']" expand="block">ACERCA DE</ion-button>
    <ion-button class="colorB" [routerLink]="['/home']" expand="block">INDICACIONES DE USO</ion-button>
    <ion-button class="colorB" [routerLink]="['/foto']" expand="block">¡VAMOS!</ion-button>

    <div style="display: flex; justify-content: space-between; bottom: 0; position: absolute; padding-bottom: 15px;">
      <ion-text class="textName">María José Bustamante</ion-text>
      <ion-text class="textName">Paola Peralta Flores</ion-text>

    </div>
  </ion-content>
</div> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <img src=".\assets\U.png"  />
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%;">
  <div style="display: flex; flex-direction: column; justify-content:center;">

    <div style="text-align: center; padding-top: 10px;">
      <ion-text>¡Conoce tu Lengua!</ion-text>
    </div>
    <div style="text-align: center; padding: 30px 0px;">
      <ion-text>Basado en</ion-text>
    </div>
    <div style="text-align: center; padding-bottom: 10px;">
      <ion-text>Automatic Tongue Diagnosis</ion-text>
    </div>

    <div style="text-align: center;">
      <img src="assets\logo.png" width="200" height="200"/>
    </div>

    <ion-button class="colorB" [routerLink]="['/introduccion']" expand="block">ACERCA DE</ion-button>
    <ion-button class="colorB" [routerLink]="['/home']" expand="block">INDICACIONES DE USO</ion-button>
    <ion-button class="colorB" [routerLink]="['/foto']" expand="block">¡VAMOS!</ion-button>
    <div style="display: flex; justify-content: space-between; padding-bottom: 15px;">
      <ion-text class="textName">María José Bustamante     -</ion-text>
      <ion-text class="textName">    Paola Peralta Flores</ion-text>
    </div>
  </div>

</ion-content>





